<ion-header>
  
  
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="closeModal()">
        Fermer
      </ion-button>
    </ion-buttons>
    <ion-title>{{isUpdate ?  'Modifier' : 'Ajout'}} Client</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  
  <form #f="ngForm"  novalidate   (ngSubmit)="onSubmit(f)">
    <ion-list>
    <ion-item>
      <ion-label position="floating" > Code </ion-label>
      <ion-input type="text" name="code_client" required [(ngModel)]="data.code_client"   #code_clientCtrl="ngModel" ></ion-input>
    </ion-item>
    <ion-item *ngIf="!code_clientCtrl.valid && code_clientCtrl.touched">
      <ion-text color="danger">Veuillez saisir le code</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating" > Désignation </ion-label>
      <ion-input [(ngModel)]="data.design_client"   required name ="design_client" #design_clientCtrl="ngModel"></ion-input>
    </ion-item>
    <ion-item *ngIf="!design_clientCtrl.valid && design_clientCtrl.touched">
      <ion-text color="danger">Le nom est obligatoire</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating" > Adresse </ion-label>
      <ion-input [(ngModel)]="data.adresse" required name ="adresse" #adresseCtrl="ngModel"  ></ion-input>
    </ion-item>
    <ion-item *ngIf="!adresseCtrl.valid && adresseCtrl.touched">
      <ion-text color="danger">Veuillez saisir l'adresse</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating" > Téléphone </ion-label>
      <ion-input [(ngModel)]="data.tel"  required name ="tel" #telCtrl="ngModel"  ></ion-input>
    </ion-item>
    <ion-item *ngIf="!telCtrl.valid && telCtrl.touched">
      <ion-text color="danger">Veuillez renseigner votre numéro de téléphone</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating" > Email </ion-label>
      <ion-input [(ngModel)]="data.email_client" required name ="email_client" #email_clientCtrl="ngModel" ></ion-input>
    </ion-item>
    <ion-item *ngIf="!email_clientCtrl.valid && email_clientCtrl.touched">
      <ion-text color="danger">Veuillez saisir votre Email</ion-text>
    </ion-item>
    <ion-item>
      <ion-label position="floating" > Adresse de Livraison </ion-label>
      <ion-input [(ngModel)]="data.adresse_liv" required name ="adresse_liv" #adresse_livCtrl="ngModel"  ></ion-input>
    </ion-item>
    <ion-item *ngIf="!adresse_livCtrl.valid && adresse_livCtrl.touched">
      <ion-text color="danger">Veuillez saisir votre adresse de livraison</ion-text>
    </ion-item>


    
    <ion-button  type ="submit" fill="outline" expand="block" color="primary" class="ion-margin-top"
     type="submit" [disabled]="!f.valid"> {{ isUpdate ? 'Modifier ' : 'Enregister'}}
    
    </ion-button>
  
  </ion-list>
  </form>

</ion-content>
