/*
ion-select{
    width:100%;
    max-width: 100% !important;
    padding-left:0px;
  }
*/
.labelOne {
  color: dimgray;
}
.labelTwo{
  margin-left: 140px;
}
.toolbar-title{
  margin-right : 50px;
}
 .card{
   background-color: green;
   margin-top: 90px;
 }
.size{
  font-size: 21px;
}
 

.qte{
  font-size: 16px;
  margin-left: 14px;
  margin-top: -2px;
}
ion-card{
  margin-top: 16px;
}

.gg{
  margin-top: -12px;
}

.droit{
  margin-right: 50px;
}
span{
  font-size: 16px;
}
.right{
  margin-right: 43px;
}

#enregister{
  position: fixed;
  bottom: 0;
  width: 100%;
 
  }

  #basDePageVide{
    box-shadow: none;
  }