<ion-content id="login-content" padding [fullscreen]="true" style="background-image:url('assets/img/login.jpg') ;">
  <img src="../assets/icon/user.png" alt="login">

  <br />
  <br />
  <br />
  <form [formGroup]="form" (submit)="login()" autocomplete="off">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-icon name="person"></ion-icon>
            <div class="textbox"></div>
            <ion-input
              type="text"
              required
              formControlName="username"
              placeholder="Identifiant"
            ></ion-input>
          </ion-item>
          <ion-item>
            <!--le mot de passe-->

            <span class="fa fa-lock fa-2x">
              <i class="fa fa-lock-1x fa-inverse"></i>
            </span>
            <div class="textbox"></div>
            <ion-input
              [type]="showPassword ?'text' :'password'"
              required
              formControlName="password"
              placeholder="Mot de passe"
            >
            </ion-input>

            <ion-icon
              id="passwordToggleIcon"
              slot="end"
              [name]="passwordToggleIcon"
              (click)="togglePassword()"
            ></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button
          ion-button
          class="login"
          fill="outline"
          expand="block"
          full
          type="submit"
          [disabled]="form.invalid"
        >
          Se connecter
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
